@charset "utf-8";
#arms:after,#arms:before,#table:after,#table:before {
    content: '';
    width: 5vh;
    position: absolute
}

#aboutCanvas {
    height: 40vh;
    width: 10vh;
    background: 0 0
}

#person {
    position: absolute;
    left: -5vh;
    bottom: 55%;
    width: 16vh;
    height: 21vh;
    background-color: black;
    border-radius: 65% 65% 90% 50%/40% 40% 100% 100%;
}

#person:after,#person:before,#screen:after,#screen:before {
    content: '';
    position: absolute
}

#person:after {
    left: 1vh;
    top: 7vh;
    width: 13.5vh;
    height: 15vh;
    background: #FFECB3;
    border-radius: 30% 165% 0 0/150% 40% 0 125%;
}

#person:before {
    top: 20vh;
    left: -1vh;
    width: 18vh;
    height: 20vh;
    background: #673AB7;
}

#arms:after,#arms:before {
    top: 20vh;
    height: 16vh;
    background: #FFECB3;
}

#arms:after {
    left: 12vh;
    transform: rotate(-8deg)
}

#arms:before {
    left: -11vh;
    transform: rotate(8deg)
}

#table {
    height: 1.5vh;
    width: 40vh;
    top: 92%;
    left: -150%;
    position: absolute;
    background: #263238;
    border-radius: 1vh;
}

#table:after,#table:before {
    height: 3vh;
    top: -200%;
    background: #FFE082;
}

#table:after {
    left: 8%;
    border-radius: 100% 40% 0 0/100% 100% 0 0
}

#table:before {
    left: 70%;
    border-radius: 40% 100% 0 0/100% 100% 0 0
}

#screen {
    position: absolute;
    left: -15vh;
    top: 20%;
    height: 24vh;
    width: 36vh;
    background: #263238;
    border-radius: 1.5vh;
    color: #F2F2F2;
}

#screen:after {
    left: 37%;
    bottom: -20%;
    height: 0;
    width: 6vh;
    border-bottom: 9vh solid #607D8B;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-radius: 1vh;
}

#screen:before {
    left: 23%;
    bottom: -20%;
    height: .5vh;
    width: 20vh;
    background: #607D8B;
}
