/*Gary Chi*/
@charset "utf-8";
#welcome {
	position: relative;
	top:40%;
	width: 100%;
	text-align: center;
	font: 2.5em 'Catamaran', calibri, sans-serif, tahoma;
	color: #404040;
}
#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	overflow: hidden;
	background-color: transparent;
}
.mountain {
	position: absolute;
	width: 0;
	height: 0;
	bottom: -35vw;
	border-left: 40vw solid transparent;
	border-right: 40vw solid transparent;
}
.mountainTop {
	position: absolute;
	border-left: 8vw solid transparent;
	border-right: 8vw solid transparent;
	border-bottom: 15vw solid white;
	left: -8vw;
}
.mountainTop:after, .mountainTop:before {
	content: '';
	position: absolute;
	border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
	z-index: -1;
}
.mountainTop:after {
	left: -6vw;
	bottom: -20vw;
    border-top: 8vw solid #fff;
}
.mountainTop:before {
	left: -2vw;
	bottom: -24vw;
    border-top: 12vw solid #fff;
}
.cloud {
	margin: 10vh;
	height: 10vh;
	width: 30vh;
	position: relative;
	background: #fff;
	opacity: .8;
	-webkit-border-radius: 5vh;
	-moz-border-radius: 5vh;
	border-radius: 5vh;
}
.cloud:after, .cloud:before {
	background: #fff;
	content: '';
	position: absolute;
	z-index: 0;
}
.cloud:after {
	height: 10vh;
	width: 10vh;
	right: 3vh;
	top: -50%;
	-webkit-border-radius: 5vh;
	-moz-border-radius: 5vh;
	border-radius: 5vh;
}
.cloud:before {
	height: 16vh;
	width: 16vh;
	left: 4vh;
	top: -90%;
	-webkit-border-radius: 8vh;
	-moz-border-radius: 8vh;
	border-radius: 8vh;
}

#firstCloud {
	-webkit-animation: animateCloud 40s linear;
	-moz-animation: animateCloud 40s linear;
	animation: animateCloud 40s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
#bigCloud {
	-webkit-animation: animateCloud 50s linear infinite;
	-moz-animation: animateCloud 50s linear infinite;
	animation: animateCloud 50s linear infinite;
}
#mediumCloud {
	-webkit-animation: animateCloud 42s linear infinite;
	-moz-animation: animateCloud 42s linear infinite;
	animation: animateCloud 42s linear infinite;
}
#smallCloud {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
}

@-webkit-keyframes animateCloud {
    0% { margin-left: -10%; }
    100% { margin-left: 110%; }
}
@-moz-keyframes animateCloud {
    0% { margin-left: -10%; }
    100% { margin-left: 110%; }
}
@keyframes animateCloud {
    0% { margin-left: -10%; }
    100% { margin-left: 110%; }
}