@charset "utf-8";
#chatBubB,#chatBubW {
    height: 18vh;
    width: 30vh;
    border-radius: 2vh;
    position: relative;
    margin: 2em auto;
    top: -1vh;
}
#mouth,#smiley {
    position: absolute;
}
#mouth,.eyes {
    box-sizing: border-box
}
#smiley,.eye {
    border-radius: 100%
}
#contactCanvas {
    /* height: 40vh; */
    /* width: 10vh; */
    background: 0 0;
}
#chatBubB {
    background: #03A9F4;
    left: 5vh;
}
#chatBubW {
    background: #CFD8DC;
    right: 5vh;
    top: -2vh;
}
#chatBubB:after,#chatBubW:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute
}
#chatBubB:after {
    right: 4vh;
    top: 18vh;
    border-top: 4vh solid #03A9F4;
    border-left: 4vh solid transparent;
}

#chatBubW:after {
    left: 4vh;
    top: 18vh;
    border-top: 4vh solid #CFD8DC;
    border-right: 4vh solid transparent;
}

#smiley {
    width: 8vh;
    height: 8vh;
    left: 30%;
    top: 15%;
    padding: 2vh;
    background: #FFEB3B;
}

#mouth,.eye {
    background: #455A64;
}

#mouth {
    width: 60%;
    height: 30%;
    bottom: 15%;
    left: 50%;
    margin-left: -30%;
    border-radius: 0 0 8vh 8vh
}

.eyes {
    width: 100%;
    margin-top: 10%
}

.eye {
    width: 1.5vh;
    height: 2vh;
    float: left;
    position: relative
}
#check,#question {
    width: 8vh;
    height: 8vh;
    position: absolute;
    left: 30%;
    top: 15%;
    border-radius: 100%;
    padding: 2vh;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    line-height: 0.8;
}
.eye:nth-of-type(2) {
    float: right
}
#question {
    background: #00BCD4;
    color: white;
}
#check {
    background: #4CAF50;
    color: white;
}
input,textarea {
    padding: 1vh;
    border: none;
    font: .8em Catamaran,calibri;
    margin: 1vh
}
textarea {
    width: calc(100% - 3em);
    height: 15vh;
}