@charset "utf-8";
html {
    --topcolor: #ECEFF1;
}
* {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.invert {
    --topcolor: black;
}
.nav-icons i {
    color: var(--topcolor);
    font-size: 2em;
    opacity: 0.8;
    margin: 0;
}
.nav-icons i:hover {
    opacity: 1;
}
.nav-icons a {
    float: right;
}
#navIcoDesc {
    float: left;
    color: var(--topcolor);
    margin: 0 1em;
    opacity: 0.8;
}
#mobileMenuClose {
    display: none;
}
#menu {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 26em;
    top: 0;
    right: -120%;
    z-index: -1;
    background-color: #263238;
    transition: 1s all;
}
#menuIcoWrap {
    margin: 4em auto;
}
#menu a {
    color: white;
    height: 6em;
    width: 6em;
    display: block;
    text-align: center;
    padding: 0.5em;
    margin: auto;
    line-height: 1;
    border-radius: 0.5em;
    outline: none;
}
#menu a:hover {
    background-color: #37474F;
    /* box-shadow: inset 0 0 2em #263238;
    -webkit-box-shadow: inset 0 0 2em #263238; */
}
.menu-icons i {
	font-size: 2em;
	margin: 0.5em auto;
}
#home {
    color: white;
    overflow: hidden;
    background-color: transparent;
}
#homeCanvas {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}
#homeLinks {
    position: fixed;
    font-size: 1em;
    top: 2em;
    right: 1em;
    z-index: 10;
}
#bgSlant {
    top: 0;
    left: 0;
    position: fixed;
    height: 6em;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    transition: none;
}
.bgSlantUnder {
    z-index: -1;
    background-color: #37474F;
}
.bgSlantOver {
    z-index: 1;
    background-color: #ECEFF1;
}
#logo {
    position: fixed;
    font-size: 2em;
    top: 1em;
    left: 0.5em;
    z-index: 10;
}
#logoIco, #logoName {
    float: left;
}
#logoName {
    line-height: 1;
    height: 1em;
    font-weight: bold;
    cursor: pointer;
    color: var(--topcolor);
    background-color: transparent;
    z-index: 10;
    transition: none;
}
#logoIco {
    padding: 0.1em;
    background-color: white;
    line-height: 1;
    height: 0.8em;
    width: 0.8em;
    margin: 0;
    margin-right: 0.5em;
    border-radius: 50%;
    text-align: center;
    /* transition: none; */
}
#logoIco i {
    font-size: 1em;
}
#logoName:hover {
	background: var(--topcolor) -webkit-gradient(linear, left top, right top, from(#000), to(#000), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, #fff 48%, #fff 52%, transparent 54%, transparent 100%);
	background-size: 50% 100%;
    color: rgba(255, 255, 255, 0);
    background-clip: text;
	-webkit-background-clip: text;
	animation-name: shine;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
#quickView {
    margin: 2em;
    color: white;
    text-align: center;
    position: relative;
}
#quickViewProfile {
    height: 8em;
    width: 8em;
    background-color: #673AB7;
    margin: auto;
    border-radius: 50%;
    background-image: url('../asset/me.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#quickViewName {
    font-weight: bold;
    font-size: 1.5em;
    color: #607D8B;
}
#quickViewText {
    position: absolute;
    top: calc(100% + 2em);
    z-index: -1;
    width: 100%;
    padding: 2em 0;
    line-height: 2;
}
#foot {
	position: relative;
    line-height: 2;
    color: white;  
    text-align: center;
}
#foot h3 {
	color: #90A4AE;
	margin: 0;
}
#footLinks {
    padding: 1.5em;
	background-color: #455a64;
	min-height: 8em;
}
.foot-icon {
	display: inline-block;
	margin: 0.5em;
	height: 2em;
	width: 2em;
	padding: 0.2em;
    border-radius: 0.5em;
    cursor: pointer;
}
.foot-icon:hover {
    background: #546E7A;
}
.foot-icon img {
    height: 100%;
    width: 100%;
}
#cpyr {
    color: #607D8B;
    line-height: 1;
    font-size: 0.8em;
    position: absolute;
    left: 0;
    bottom: -1em;
    width: 100%;
    padding: 1.5em 0 1em 0;
    background-color: #37474F;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}
@media (min-width: 768px) {
    #quickViewProfile {
        margin-top: -2em;
    }
    #logo {
        left: 1em;
    }
    .nav-icons i {
        font-size: 1.5em;
        margin: 0 0.3em;
    }
}

@keyframes shine {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 300%;
	}
}
@-webkit-keyframes shine {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 300%;
	}
}