@charset "utf-8";
* {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.nav-icons {
    color: white;
    margin: 0.2em;
}
.nav-icons i {
    opacity: 0.8;
}
.nav-icons i:hover {
    opacity: 1;
}
#home {
    color: white;
    overflow: hidden;
    background-color: transparent;
}
#homeLinks {
    position: fixed;
    font-size: 1em;
    top: 1em;
    right: 1em;
    z-index: 10;
}
#bgSlant {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 6em;
    width: calc(100% + 2em);
    background-color: #546E7A;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
#quickView {
    margin: 2em;
    color: white;
    text-align: center;
}
#quickViewProfile {
    height: 8em;
    width: 8em;
    background-color: #ECEFF1;
    margin: auto;
    border-radius: 50%;
}
#quickViewName {
    font-weight: bold;
}

@media (min-width: 768px) {
    #quickViewProfile {
        margin-top: -2em;
    }
}