/*Gary Chi*/
@charset "utf-8";
.box {
	height: 8vh;
	width: 8vh;
	position: relative;
	margin: 2vh;
	margin-left: 0;
	border-radius: 1vh;
	line-height: 8vh;
	text-align: center;
	vertical-align: middle;
	color: white;
	display: inline-block;
	opacity: .5;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
.box:hover {
	opacity: .8;
}
.resCont {
	height: 40vh;
	width: 100%;
	position: absolute;
	display: none;
}
.more {
	background-color:rgb(96, 125, 139);
}
#skillA {
	background-color:rgb(3, 169, 244);
}
#skillB {
	background-color:rgb(149, 117, 205);
}
#skillC {
	background-color:rgb(129, 199, 132);
}
#skillD {
	background-color:rgb(21, 101, 192);
}
#skillE {
	background-color:rgb(239, 83, 80);
}
#toolA {
	background-color:rgb(158, 158, 158);
}
#toolB {
	background-color:rgb(244, 47, 47);
}
#toolC {
	background-color:rgb(139, 195, 74);
}
#toolD {
	background-color:rgb(156, 39, 176);
}
#toolE {
	background-color:rgb(3, 155, 229);
}
#expA {
	background-color:rgb(103, 58, 183);
}
#expB {
	background-color:rgb(0, 150, 136);
}

#resumeCanvas {
	height: 40vh;
	width: 10vh;
	background: transparent;
}
.stars {
	font-size: 5vh;
	color: #FDD835;
}