/*Gary Chi*/
@charset "utf-8";
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: none;
    text-align: left;
    padding: .5vh;
	vertical-align: middle;
}
td:first-child {
	width: 20vw;
}
tr:nth-child(even) {
    background-color: #F2F2F2;
}
.stars {
	font-size: 5vh;
	color: #FDD835;
}
#resumeCanvas {
	height: 60vh;
	position: absolute;
	top: 30vh;
	background: transparent;
	animation: resAni 1.5s;
    -webkit-animation: resAni 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
#resNav {
	width: 80vw;
}
.box {
	height: 8vh;
	width: 8vh;
	position: relative;
	margin: 0;
	margin-right: 2vh;
	margin-top: 2vh;
	border-radius: 1vh;
	line-height: 8vh;
	text-align: center;
	vertical-align: middle;
	color: white;
	display: inline-block;
	opacity: .5;
	cursor: pointer;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
.box:hover {
	opacity: .8;
}
.resCont {
	height: 40vh;
	width: 40vw;
	position: absolute;
	display: none;
}
.more {
	background-color:rgb(96, 125, 139);
}
#skillA { background-color:rgb(3, 169, 244); }
#skillB { background-color:rgb(149, 117, 205); }
#skillC { background-color:rgb(102, 187, 106); }
#skillD { background-color:rgb(21, 101, 192); }
#skillE { background-color:rgb(239, 83, 80); }

#skillF { background-color:rgb(251, 192, 45); }
#skillG { background-color:rgb(211, 47, 47); }
#skillH { background-color:rgb(33, 150, 243); }
#skillI { background-color:rgb(255, 152, 0); }
#skillJ { background-color:rgb(233, 30, 99); }

#toolA { background-color:rgb(158, 158, 158); }
#toolB { background-color:rgb(244, 47, 47); }
#toolC { background-color:rgb(102, 187, 106); }
#toolD { background-color:rgb(156, 39, 176); }
#toolE { background-color:rgb(3, 155, 229); }

#toolF { background-color:rgb(255, 87, 34); }
#toolG { background-color:rgb(66, 66, 66); }
#toolH { background-color:rgb(139, 195, 74); }

#expA {	background-color:rgb(103, 58, 183); }
#expB { background-color:rgb(0, 150, 136); }

#bonusA { background-color:rgb(245, 124, 0); }
#bonusB { background-color:rgb(233, 30, 99); }
#bonusC { background-color:rgb(67, 160, 71); }

#defA {background-color: #F44336;}
#defB {background-color: #FF9800;}
#defC {background-color: #8BC34A;}
#defD {background-color: #00BCD4;}
#defE {background-color: #2196F3;}
#defF {background-color: #673AB7;}

@keyframes resAni {
    0% {left:75%;}
    100% {left:55%;}
}
@-webkit-keyframes resAni {
    0% {left:75%;}
    100% {left:55%;}
}