/*Gary Chi*/
@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font: 2vh 'Catamaran', calibri, sans-serif, tahoma;
    line-height: 200%;
    color: gray;
}
h1, h2, h3 {
    color: #585858;
}
a {
	text-decoration: none;
	color: #585858;
}
a:hover {
    color: gray;
}
#topBar {
    position: fixed;
    top: 2.5em;
    padding: 1em;
    padding-left: 6em;
    z-index: 10;
}
#topBar > a {
    font: 2.2em 'Catamaran', calibri, sans-serif, tahoma;
    letter-spacing: -2px;
    line-height: 0;
    color: black;
}
#topBot {
	font: .5em 'Catamaran', calibri, sans-serif, tahoma;
	letter-spacing: 0px;
	color: gray;
}
#navigation {
	position: fixed;
	top: 2em;
	right: 2em;
	font: 1.5em 'Catamaran', calibri, sans-serif, tahoma;
	letter-spacing: -1px;
	z-index: 10;
}
#navigation > a {
	color: #A0A0A0;
}
#navigation > a:hover {
	color: gray;
}
.content {
    position: relative;
    height: 100vh;
    min-height: 40em;
	min-width: 44em;
    width: 100%;
	overflow: hidden;
}
.contentA {
    background-color: #EFEFEF;
}
.contentB {
    background-color: #F2F2F2;
}
p > a {
	color: #585858;
}
p > a:hover {
    color: #888888;
}
.button {
    height: 4em;
    width: 2em;
    position: relative;
    top: 44vh;
    z-index: 1;
	color: gray;
    background-color: white;
    border-radius: 4px;
    text-align: center;
	line-height: 125%;
}
.button:hover {
	color: white;
    background-color: gray;
}
.back {
    float: left;
    margin-left: 1em;
}
.next {
    float: right;
    margin-right: 1em;
}
span.arrows {
    display: inline-block;
    transform: scale(1, 2);
    -webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    -ms-transform: scale(1, 2);
    -o-transform: scale(1, 2);
    vertical-align: middle;
}
input, textarea {
    padding: 10px;
    border: none;
	font: .8em 'Catamaran', calibri, sans-serif, tahoma;
	margin: 1vh;
}

/*Content Animation*/
.aniDivL, .aniDivR {
	top: 20vh;
	width: 40%;
	position: relative;
	background: transparent;
}
.aniDivL {
    float: left;
    animation: forward 1.5s;
    -webkit-animation: forward 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.aniDivR {
    float: right;
    animation: backward 1.5s;
    -webkit-animation: backward 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.aniL, .aniR {
	top: 20vh;
	position: relative;
	background: transparent;
}
.aniL {
    float: left;
    animation: forward 1.5s;
    -webkit-animation: forward 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.aniR {
    float: right;
    animation: backward 1.5s;
    -webkit-animation: backward 1.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

/*Animation*/
@keyframes forward {
    0% {left:-10%;}
    100% {left:10%;}
}
@-webkit-keyframes forward {
    0% {left:-10%;}
    100% {left:10%;}
}
@keyframes backward {
    0% {right:-10%;}
    100% {right:10%;}
}
@-webkit-keyframes backward {
    0% {right:-10%;}
    100% {right:10%;}
}

/*Mobile*/
#burger, #close {
	position: fixed;
	cursor: pointer;
	z-index: 10;
}
#burger {
	top: 3em;
	right: 3em;
}
#close {
	transform:rotate(45deg);
	top: 2.5em;
	right: 3em;
	display: none;
}
#burger g, #close g {
    stroke: #A0A0A0;
    transition: stroke 0.25s ease-in-out;    
}
#burger:hover g, #close:hover g {
    stroke: gray;
}
#mMenu {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #EFEFEF;
	display: none;
	font: 2em 'Catamaran', calibri, sans-serif, tahoma;
	text-align: center;
	vertical-align: middle;
	z-index: 5;
}
#mMenu > a {
	color: #A0A0A0;
}
#mMenu > a:hover {
	color: gray;
}
@media (max-width:100vh){
	#navigation { display: none; }
	#burger { display: block;}
}
@media (min-width:100vh) {
	#navigation { display: block; }
	#burger { display: none; }
}