@charset "utf-8";
body {
	margin: 0;
    padding: 0;
}
#terminal {
	border-radius: 0.5em;
	margin: 2em auto;
	color: white;
	font-family: 'Anonymous Pro';
	height: 50vh;
	width: 100%;
	background-color: #37474F;
}
#terminal::selection {
	background-color: white;
}
#terminal::-moz-selection {
	background-color: white;
}
#termHead {
	overflow: hidden;
	padding: 0.2em;
	background-color: #263238;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}
#termHeadTitle {
	float: left;
	margin: 0.2em 0.5em;
	color: #90A4AE;
	font-family: Catamaran;
	line-height: 1;
}
#termHeadNav {
	float: right;
}
.termHeadNavBtn {
	float: left;
	height: 0.8em;
	width: 0.8em;
	border-radius: 50%;
	margin: 0.2em 0.25em;
	background-color: #607D8B;
	opacity: 0.8;
}
.termHeadNavBtn:hover {
	opacity: 1;
}
#termHeadNavClose {
	background-color: #F44336;
}
#termBody {
	height: calc(100% - 3em);
	padding: 0.5em;
	overflow: auto;
}
#termBody > div {
	font-size: 0.9em;
}
#termBodyInput {
	float: left;
	word-wrap: break-word;
	max-width: 100%;
	line-height: 1.5;
}
.termBodySection {
	white-space: pre-line;
	line-height: 1.5;
}
.termBodySection::before {
	content: '>';
	color: white;
	height: 1em;
	width: 1em;
	top: 0;
	left: 0;
	margin: 0 0.5em;
}
#blinky {
	float: left;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
@keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}
@-webkit-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: white;
	}
}

@media (min-width: 425px) {
    #terminal {
		width: 80%;
		max-width: 32em;
		min-width: 26em;
	}
}
@media (min-width: 768px) {
	#terminal {
		width: 60%;
	}
}
