html * {
    transition: all 0.2s;
}

body {
    font-family: Catamaran;
    margin: 0;
    padding: 1em;
    background-color: #FFFFFF;
    color: #455A64;
}

#center {
    margin: 0;
    font-size: 0.9em;
}

.highlight {
    font-weight: bold;
}

#header {
    color: #E0E0E0;
    margin: 1em;
}

#header h1 {
    font-weight: normal;
}

#main {
    line-height: 2;
    max-width: 24em;
    margin: 1em;
}

#footer {
    margin: auto;
}

#footer img {
    opacity: 0.5;
    margin: 1em;
    float: left;
    height: 1em;
}

#footer img:hover {
    height: 1.5em;
    opacity: 1;
    margin: 0.75em;
}

@media (min-width: 768px) {
    #center {
        margin: 2em;
        font-size: 1em;
    }
}